@import './classes.scss';
@import "./_variables.scss";
@import "_mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

a {
    color          : $dark_font_color;
    text-decoration: none;

}





body {

    // font-family: 'DosisLight', 'san-serif';
font-family: 'Nunito', sans-serif;
    // font-family: 'Poppins', sans-serif;
    margin     : 0;
    padding    : 0;
    background-color: white;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;

    }
}

header {
    @include mdUp {
        height: 80px;

    }
    @include mdDown {
height: 80px;
        
    }
}

.button {
    cursor: pointer;

}

.appContainer {
    position: relative;
    min-height: 100vh;
}

.mainContainer {
    padding-bottom: 170px;
}


