@import "./_variables.scss";
@import "_mixins.scss";

a {
    color          : $dark_font_color;
    text-decoration: none;

}


body {

    font-family: 'DosisLight', 'san-serif';
    margin     : 0;
    padding    : 0;

}

.button {
    cursor: pointer;

}

@keyframes slideOut {
    from {
        transform: translateX(-100%);

    }

    to {
        transform: translateX(0%);

    }
}

@keyframes slideIn {
    from {
        transform : translateX(0%);
    }

    to {
        transform : translateX(-100%);
    }
}

.slideOut {

    animation-name    : slideOut;
    animation-duration: 1s;
}

.slideIn {
    animation-name    : slideIn;
    animation-duration: 1s;
    transform : translateX(-100%) !important;

}

.hidden {
    display: none;
}

.burger {
    margin           : 30px 0 0 30px;
    width            : 40px;
    height           : 35px;
    position         : absolute;
    background-size  : 40px;
    background-repeat: no-repeat;
    background-image : url('../assets/images/icons/burger.svg');

}

.sideNavigation {
    z-index         : 999;
    position        : absolute;
    background-color: black;
    height          : 100vh;
    width           : 200px;
    transform       : translateX(0%);


    &>.close {
        color       : white;
        font-size   : 40px;
        height      : auto;
        width       : auto;
        text-align  : end;
        margin-right: 10px;
        position    : relative;
    }

    li {
        margin: 10px 30px;
        border-bottom: 0.5px solid rgb(87, 87, 87);

        a {
            font-weight       : 600;
            font-size         : 20px;
            -webkit-transition: all 0.3s;
            -moz-transition   : all 0.3s;
            -o-transition     : all 0.3s;
            transition        : all 0.3s;
            margin: 5px 0px ;

            background : none;
            color      : #fff;
            display    : block;
            font-weight: bold;
            position   : relative;

            &::before {
                background: #fff;
                content   : '';
                position  : absolute;
                z-index   : -1;
            }

            &::after {
                height            : 100%;
                left              : 0;
                top               : 0;
                width             : 0;
                -webkit-transition: all 0.3s;
                -moz-transition   : all 0.3s;
                -o-transition     : all 0.3s;
                transition        : all 0.3s;
                background        : #fff;
                content           : '';
                position          : absolute;
                z-index           : -1;
            }

            &:hover {
                color: #000000 !important;
            }

            &:hover:after {
                width             : 100%;
                -webkit-transition: all 0.3s;
                -moz-transition   : all 0.3s;
                -o-transition     : all 0.3s;
                transition        : all 0.3s;
            }
        }
    }

    //transition to

}


.navBar {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    width          : 300px;
    margin-left    : 50px;
    margin-top     : 50px;
}

.navBar>li {

    list-style: none;


}


.footer {
    position        : absolute;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    background-color: black;
    height          : 100px;
    color           : white;
    width           : 100%;

    nav {
        padding: 0;
        margin : 30px 0 0 0;

        & * {
            padding: 0;
            margin : 0;
        }

        a {
            color: white;
        }
    }

    .copyright {
        color     : white;
        padding   : 0;
        margin-top: 20px;
    }



}