@import '../../styles/mixins';
@import '../../styles/variables';

.aboutContainer {
    display       : flex;
    flex-direction: column;
    margin        : auto;
    padding       : 0.05px;
    max-width     : $max-width - 300px;


    //This padding prevent from margin collapse(some bug)
    padding: 0 25px;

    .pageTitle {
        margin: 0px auto 20px auto;
        @include h1;
    }

    .body {
        align-self: center;

        h5 {
            padding-left: 15px;
            margin-top  : 10px;
            @include h5;
        }

        p {
            @include p;
            font-size  : 1.4em;
            line-height: 1.3em;
        }
    }
}