@import "../../styles/_variables.scss";
@import "../../styles/mixins";

.homeContainer {
  width: 100%;

  color: $light_font_color;

  .mainSection {
    height: 100vh;
    width : 100%;

    .videoBackground {
      position            : absolute;
      height              : 100vh;
      width               : 100%;
      top                 : 0px;
      background-repeat   : no-repeat;
      // background-size  : contain;
      background-size     : cover;

      object-fit: cover;
      z-index   : -1;
    }

    .nameContainer {
      height  : 100vh;
      width   : 100%;
      position: relative;

      .name {
        font-weight   : 600;
        position      : absolute;
        bottom        : 170px;
        width         : 100%;
        text-align    : center;
        padding       : 10px;

      }
    }
  }


  //Projects section
  .projectsContainer {
    .project {

      width         : 90%;
      height        : auto;
      display       : flex;
      flex-direction: column;
      color         : black;
      @include h4;
      justify-self: center;
      margin-top  : 30px;

      h4 {
        margin-bottom: 10px;
      }

      div {
        position: relative;




        .bottom {
          position        : absolute;
          background-color: rgba(0, 0, 0, 0.5);
          height          : 0px;
          width           : 100%;
          bottom          : 5px;
          height          : 50px;
          max-height      : 0;
          transition      : max-height 0.3s ease-out;
          overflow        : hidden;

          p {
            color     : rgb(218, 218, 218);
            text-align: end;
            margin    : 10px;
            text-decoration: underline;
          }

        }

        &:hover {
          .bottom {
            position           : absolute;
            background-color   : rgba(0, 0, 0, 0.5);
            // height          : 50px;
            bottom             : 5px;

            max-height: 500px;
            transition: max-height 0.6s ease-in;


            p {
              color     : rgb(218, 218, 218);
              text-align: end;
              margin    : 10px;
            }
          }

        }




        img {
          position    : relative;
          width       : 100%;
          height      : auto;
          justify-self: center;
          z-index     : -1;
        }
      }

    }
  }


  @include mdUp {

    .projectsContainer {
      display              : grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows   : 1fr 1fr;
      gap                  : 0px 0px;
      grid-template-areas  :
        ". ."
        ". .";
      margin   : auto;
      max-width: $max-width;
      width    : 100%;
      height   : 100%;

      .project {
        max-width: 600px;
      }
    }

  }

  @include mdDown {

    .projectsContainer {
      display       : flex;
      flex-direction: column;
      width         : 100%;
      height        : 100%;
      align-items   : center;

      .project {
        max-width: 550px;
      }
    }
  }
}