@import '../../styles/mixins';


@media (max-width: 767px) {
    .navbar {



        .burger {
            cursor             : pointer;
            position           : fixed;
            top                : 30px;
            left               : 30px;
            // background-color: black;
            // background-image: url('../../assets/images//icons/burger.svg');

            width            : 40px;
            height           : 40px;
            background-size  : contain;
            background-repeat: no-repeat;

            @include burgerSvg("%23fff");

            &:hover {
                @include burgerSvg("%23a0a0a0");
            }


        }

        .links {
            z-index         : 9999;
            background-color: black;
            width           : 100%;
            position        : fixed;
            display         : flex;
            flex-direction  : column;
            transform       : translateY(-100%);
            align-items     : center;

            .close {
                width            : 30px;
                height           : 30px;
                margin-right     : auto;
                margin-left      : 30px;
                margin-bottom: 10px;
                cursor           : pointer;
                background-image : url("../../assets/images/icons/times-solid.svg");
                background-repeat: no-repeat;
                background-size  : contain;

            }

            &.in {
                animation                : in;
                animation-duration       : 0.2s;
                transform                : translateY(-100%);
                animation-timing-function: ease-in;
            }

            &.out {

                animation                : out;
                animation-duration       : 0.2s;
                transform                : translateY(0%);
                animation-timing-function: ease-out;
            }

            @keyframes in {
                from {
                    transform: translateY(0%);
                }

                to {
                    transform: translateY(-100%);

                }
            }

            @keyframes out {

                from {
                    transform: translateY(-100%);
                }

                to {
                    transform: translateY(0%);

                }
            }
        }

        a {
            color          : white;
            text-decoration: none;
            margin         : 10px;
            @include h4;
            @include bottomSlide;

        }


    }
}


@media (min-width: 768px) {
    .navbar {
        padding-top: 30px;

        .links {
            width          : 35%;
            display        : flex;
            justify-content: space-between;
            margin-left: auto;
            margin-right: 5%;
            
            .close {
                display: none;
            }

            a {
                color          : white;
                text-decoration: none;
                @include bottomSlide;

                @include h5;

            }
        }

        .burger {
            display: none;

        }
    }




}