@import '../../styles/mixins';


//For small screens
@include mdDown {
    .navbar {


        .burger {
            cursor             : pointer;
            position           : fixed;
            top                : 30px;
            left               : 30px;
            // background-color: black;
            // background-image: url('../../assets/images//icons/burger.svg');
            color              : white;
            width              : 40px;
            height             : 35px;
            background-size    : contain;
            background-repeat  : no-repeat;
            background-color: rgb(12, 12, 12);
            border-radius: 4px;




        }

        .links {
            z-index         : 9999;
            background-color: black;
            width           : 100%;
            position        : fixed;
            top             : 0;
            display         : flex;
            flex-direction  : column;
            transform       : translateY(-100%);
            align-items     : center;

            .close {
                width            : 30px;
                height           : 30px;
                margin-right     : auto;
                margin-left      : 30px;
                margin-bottom    : 10px;
                cursor           : pointer;
                background-image : url("../../assets/images/icons/times-solid.svg");
                background-repeat: no-repeat;
                background-size  : contain;

            }

            &.in {
                animation                : in;
                animation-duration       : 0.2s;
                transform                : translateY(-100%);
                animation-timing-function: ease-in;
            }

            &.out {

                animation                : out;
                animation-duration       : 0.2s;
                transform                : translateY(0%);
                animation-timing-function: ease-out;
            }

            @keyframes in {
                from {
                    transform: translateY(0%);
                }

                to {
                    transform: translateY(-100%);

                }
            }

            @keyframes out {

                from {
                    transform: translateY(-100%);
                }

                to {
                    transform: translateY(0%);

                }
            }
        }

        a {
            color          : white !important;
            text-decoration: none;
            margin         : 10px;

            &::after {
                border-color: white !important;
            }

            @include h4;
            @include bottomSlide;

        }


    }
}


//For big screens


@include mdUp {
    .navbar {
        padding-top: 30px;
        position   : absolute;
        width      : 100%;

        .links {
            width          : 35%;
            display        : flex;
            justify-content: space-between;
            margin-left    : auto;
            margin-right   : 5%;

            .close {
                display: none;
            }

            a {
                color          : white;
                text-decoration: none;
                @include bottomSlide;

                @include h5;

            }
        }

        .burger {
            display: none;

        }
    }




}