@import '../../styles/variables';
@import '../../styles/mixins';

.contactsContainer {
    display       : flex;
    flex-direction: column;
    max-width     : $max-width - 200px;
    margin        : auto;

    .pageTitle {
        margin: 0px auto 20px auto;
        @include h1;
    }

    svg {
        margin   : 5px;
        min-width: 20px;
        height   : 20px;
    }

    a {
        margin     : 5px;
        display    : flex;
        align-items: center;
        &:hover {
            text-decoration: underline;
        }
    }

    .body {
        margin: 0 40px;
    }

    .contacts {
        display       : flex;
        flex-direction: column;
    }

    .media {
        display       : flex;
        flex-direction: column;
    }

    p {
        text-align: center;
        margin    : 10px 0;
        @include h5;
    }

    form {
        margin        : auto;
        display       : flex;
        flex-direction: column;

        &>* {
            margin: 5px 0;
        }

        input {
            border       : 1px solid black;
            border-radius: 6px;
            resize       : none;
            height       : 40px;
            padding      : 5px;
        }

        textarea {
            border       : 1px solid black;
            border-radius: 6px;
            resize       : none;
            height       : 150px;
            padding      : 5px;
        }

        input[type="submit"] {
            background-color: black;
            color           : white;
            max-width       : 150px;
            cursor          : pointer;

            &:hover {
                transform       : scale(1.05);
                border          : 2px solid black;
                background-color: white;
                color           : black;
            }
            &.sent {
                background-color: rgb(87, 87, 87);
                transform       : none;
                border          : none;
                background-color: none;
                color           : white;
                cursor: not-allowed;
            }
            &.sending {

                background-color: rgb(87, 87, 87);
                transform       : none;
                border          : none;
                background-color: none;
                color           : white;
                cursor: wait;

            }
        }
        .clue {
            font-size: 13px;
            text-align: start;
            color: grey;

        }
    }
}

@include mdUp {
    .contactsContainer {
        .body {
            display       : flex;
            flex-direction: row;

            .contactsColumn {
                width: 50%;
            }

            .formColumn {
                width: 50%;
            }
        }
    }
}

@include mdDown {
    .contactsContainer {
        .body {
            display       : flex;
            flex-direction: column;
            align-items   : center;

            .contactsColumn {
                width: 100%;
            }

            .formColumn {
                width: 100%;
            }
        }
    }
}